.newArrival{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}
.newArrival h1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.newArrival span{
    font-size: 50px;
}
.newArrival p{
    color: rgb(85, 81, 81);
    font-family: Arial, Helvetica, sans-serif;
}
.product{
   /* background-color: red; */
    width: 400px;
    
    padding-top: 100px;
}


.productList{
    display: flex;
}
.product .productImage .label{
   
    color: white;
    
    margin-top: -20px;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
    width: 85%;
    font-size: 14px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    
}
.label h3{
    background-color: black;
    padding: 6px 10px;
    border-radius: 3px;
}
.product .productImage img{
    width: 100%;
}
.product .description{
    padding-bottom: 10px;
    padding-left: 50px;
}
.product .description p{
    font-family: Arial, Helvetica, sans-serif;
}
.product .description h3{
    font-family: Arial, Helvetica, sans-serif;
}
.btn-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}
.btn-container button{
    background: black;
    color: white;
    width: 300px;
    padding: 12px 0px;
    border: 1px solid black;
    outline: none;
}


.featured_product{
    width: 350px;
    height: 350px;

}
.featured_container .imgContainer{
    width: 300px;
    height: 350px;
}
.featured_container .imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured_container .featured_description{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 30px;
}
.bgdrop{
    background-color: rgb(248, 243, 243);
    height: 85vh;
    margin-bottom: 30px;
    padding: 50px 150px;
}
.featured_container .featured_description h2{
    font-size: 20px;
    margin-top: 20px;
}
.featured_container .featured_description p{
    color: rgb(63, 61, 61);
    margin-top: 5px;
    margin-bottom: 5px;
}
.featured_container .featured_description a{
    color: rgb(24, 23, 23);
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 14px;
}
.bgdrop h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 60px;
}
.featured_container{
    display: flex;
    justify-content: space-around;
}

.dialog{
    background: red;
}

.mobile_view{
    display: none;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 768px){
    .bgdrop{
        display: none;
    }
    .backgroundImage{
        background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assets/soap1.jpg);
        background-size: cover;
        background-position: center;

       
    }
    .backgroundImage .image01{
        display: none;
    }
    .backgroundImage .image02{
        display: none;
    }
    .backgroundImage .image03{
        display: none;
    }
    .backgroundImage .text{
        width: 100%;
        text-align: center;
    }

    .Navbar .search_container h1{
        display: none;
    }
    .Navbar .second{
        display: none;
        background-color: red;
        
    }
    
    .Navbar .flexinput{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Navbar .search_container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 25px;
    }
    .Navbar .search_container .search{
        font-size: 14px;
    }
    .sale{
        display: none;
    }
    /* .product .description{
        margin-bottom: 40px;
    } */

    .footer .email{
        display: none;
    }
    .footer .pages{
      
        width: 100%;
    }
    .footer .pages .pages_link{
        width: 100%;
    }
    .down{
        padding: 20px 100px;
    }
    .hamburger{
        display: block;
    }

}

@media screen and (max-width:430px){
    .hamburger{
        display: block;
    }
    .backgroundImage{
        background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assets/soap1.jpg);
        background-size: cover;
        background-position: center;

       
    }
    .backgroundImage .image01{
        display: none;
    }
    .backgroundImage .image02{
        display: none;
    }
    .backgroundImage .image03{
        display: none;
    }
    .backgroundImage .text{
        text-align: center;
    }
    
    .mobile_view h2{
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .mobile_view .proton h1{
        font-size: 20px;
    }
    .mobile_view p{
        font-size: 12px;
        line-height: 20px;
       
    }
    .down{
        padding: 20px 10px;
    }
    .footer{
        
       display: none;
    }
    .mobile_view{
        display: block;
        background-color: black;
        padding: 30px 10px;
        
        color: white;
    }
    .bgdrop{
        background-color: rgb(248, 243, 243);
        height: 100vh;
        margin-bottom: 30px;
        padding: 50px 10px;
        display: flex;
        flex-direction: column;
        display: none;
       
    }
    .product .description{
        margin-bottom: 35px;
    }
    .newArrival{
        text-align: center;
    }
    .newArrival p{
        font-size: 12px;
        padding: 0px 80px;
    }
    .newArrival h1{
        font-size: 30px;
    }
    /* .featured_container{
        display: flex;
        flex-wrap: wrap;
        background: green;
    }
    .featured_container .imgContainer{
        width: 200px;
        height: 300px;
       background-color: red;
       padding: 10px;
    }
    .bgdrop h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .featured_container .featured_description{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    
        margin-bottom: 5px;
    }
    .featured_container .featured_description a{
        color: rgb(24, 23, 23);
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    } */
}
.hub{
    background: url("./assets/pillo.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.hub h1{
    font-size: 50px;
}
.hub button{
    width: 300px;
    padding: 13px 0px;
    border: 1px solid white;
    background: transparent;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    outline: none;
    cursor: pointer;

}
















